*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playpen Sans", cursive;
    font-size: 18px;
}

span{
    color: crimson
}

body{
    width: 100%;
}
.title h1{
    text-align: center;
    padding-top: 55px;
    font-size: 45px;
}
.title h1::after{
    content: "";
    height: 3px;
    width: 230px;
    background-color: #000;
    display: block;
    margin: auto;
}
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin 0px 20px;
    padding: 20px 20px;
    background-color: #A28B55;
    border-radius: 10px;
    cursor: pointer;
    border-right: 5px;
}

.card:hover{
    background-color: aliceblue;
    transition: .3s ease-in-out;
}
.card .icon{
    font-size: 35px;
    margin-bottom: 20px;
}
.card h2{
    font-size: 20px;
    margin-bottom: 15px;
    
}
.card p{
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 35px;
    margin: 20px 10px;
}

.button{
    color: #000;
    padding: 0 15px;
    background-color: azure;
    border-radius: 10px;
    text-decoration: none;
    border: 10px;
   
}
.button:hover{
    background-color: #A28B55;
    transition: .4s ease;
}